extends layout

block content
    link(rel='stylesheet' href='/css/detail_product_style.css')
    #main-wrapper.page-wrapper(data-layout='vertical' data-navbarbg='skin6' data-sidebartype='full' data-sidebar-position='fixed' data-header-position='fixed')
        Sidebar Start
            aside.left-sidebar
                // Sidebar scroll
                div
                    .brand-logo.d-flex.align-items-center.justify-content-between
                        a.text-nowrap.logo-img(href='/stech.manager/home')
                            img(src='/images/logos/logo.jpeg' width='180' alt='')
                        #sidebarCollapse.close-btn.d-xl-none.d-block.sidebartoggler.cursor-pointer
                            i.ti.ti-x.fs-8
                    // Sidebar navigation
                    nav.sidebar-nav.scroll-sidebar(data-simplebar='')
                        ul#sidebarnav
                            li.nav-small-cap
                                i.ti.ti-dots.nav-small-cap-icon.fs-4
                                span.hide-menu Home
                            li.sidebar-item
                                a.sidebar-link(href='/stech.manager/home' aria-expanded='false')
                                    span
                                        i.ti.ti-layout-dashboard
                                    span.hide-menu Dashboard
                            li.nav-small-cap
                                i.ti.ti-dots.nav-small-cap-icon.fs-4
                                span.hide-menu Manager
                            li.sidebar-item
                                a.sidebar-link(href='/stech.manager/product' aria-expanded='false')
                                    span
                                        i.ti.ti-brand-producthunt
                                    span.hide-menu Product
                            li.sidebar-item
                                a.sidebar-link(href='/stech.manager/category' aria-expanded='false')
                                    span
                                        i.ti.ti-category
                                    span.hide-menu Category
                            li.sidebar-item
                                a.sidebar-link(href='/stech.manager/cart' aria-expanded='false')
                                    span
                                        i.ti.ti-shopping-cart
                                    span.hide-menu Cart
                            li.sidebar-item
                                a.sidebar-link(href='/stech.manager/chat' aria-expanded='false')
                                    span
                                        i.ti.ti-message-chatbot
                                    span.hide-menu Chat
                            li.sidebar-item
                                a.sidebar-link(href='/stech.manager/notification' aria-expanded='false')
                                    span
                                        i.ti.ti-notification
                                    span.hide-menu Notification
                            li.sidebar-item
                                a.sidebar-link(href='/stech.manager/customer' aria-expanded='false')
                                    span
                                        i.ti.ti-cards
                                    span.hide-menu Customer
                            li.sidebar-item
                                a.sidebar-link(href='/stech.manager/order' aria-expanded='false')
                                    span
                                        i.ti.ti-file-description
                                    span.hide-menu Order
                            li.sidebar-item
                                a.sidebar-link(href='/stech.manager/voucher' aria-expanded='false')
                                    span
                                        i.ti.ti-file-description
                                    span.hide-menu Voucher
                            li.sidebar-item
                                a.sidebar-link(href='/stech.manager/banner' aria-expanded='false')
                                    span
                                        i.ti.ti-file-import
                                    span.hide-menu Banner
                            li.nav-small-cap
                                i.ti.ti-dots.nav-small-cap-icon.fs-4
                                span.hide-menu AUTH
                            li.sidebar-item
                                a.sidebar-link(href='/stech.manager/login' aria-expanded='false')
                                    span
                                        i.ti.ti-login
                                    span.hide-menu Login
                            li.sidebar-item
                                a.sidebar-link(href='/stech.manager/register' aria-expanded='false')
                                    span
                                        i.ti.ti-user-plus

        .body-wrapper
            .container-fluid
                .card
                    .card-body
                        a.page-link(href='#')
                        .row
                                if detailProduct
                                .col-lg-5.col-md-5.col-sm-6
                                    .white-box.text-center
                                        //img.img-responsive(src=detailProduct.img_cover)
                                        img.img-responsive(style='max-width: 300px; height: 300px;', src=detailProduct.img_cover )
                                .col-lg-7.col-md-7.col-sm-6
                                    h4.box-title.mt-5 Product description
                                    p
                                        =detailProduct.description
                                    h3.mt-5
                                        | #{Intl.NumberFormat('vi-VN').format(detailProduct.price)} VND
                                .col-lg-12.col-md-12.col-sm-12
                                    h3.box-title.mt-5 General Info
                                    .table-responsive
                                        table.table.table-striped.table-product
                                            tbody
                                                tr
                                                    th Loại
                                                    th=detailProduct.category_id.name
                                                tr
                                                    td Tên sản phẩm
                                                    td= detailProduct.name
                                                tr
                                                    td Số lượng
                                                    td= detailProduct.quantity
                                                tr
                                                    td Ram
                                                    td= detailProduct.ram
                                                tr
                                                    td Rom
                                                    td= detailProduct.rom
                                                tr
                                                    td Color
                                                    td
                                                        i.list-inline-item(style=`background-color: ${detailProduct.color_code}; border: 2px solid #C0C0C0;  width: 20px; height: 20px; display: inline-block; vertical-align: middle; border-radius: 50%;`)
                                                tr
                                                    td Đã bán
                                                    td= detailProduct.sold
                                                tr
                                                    td Date
                                                    td= detailProduct.create_time
                script(src='https://code.jquery.com/jquery-1.10.2.min.js')
                script(src='https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.bundle.min.js')
                script(type='text/javascript').

