extends layout

block content
    #main-wrapper.page-wrapper(data-layout='vertical' data-navbarbg='skin6' data-sidebartype='full' data-sidebar-position='fixed' data-header-position='fixed')
        // Sidebar Start
        aside.left-sidebar
            // Sidebar scroll
            div
                .brand-logo.d-flex.align-items-center.justify-content-between
                    a.text-nowrap.logo-img(href='/stech.manager/home')
                        img(src='/images/logos/logo.jpeg' width='180' alt='')
                    #sidebarCollapse.close-btn.d-xl-none.d-block.sidebartoggler.cursor-pointer
                        i.ti.ti-x.fs-8
                // Sidebar navigation
                nav.sidebar-nav.scroll-sidebar(data-simplebar='')
                    ul#sidebarnav
                        li.nav-small-cap
                            i.ti.ti-dots.nav-small-cap-icon.fs-4
                            span.hide-menu Home
                        li.sidebar-item
                            a.sidebar-link(href='/stech.manager/home' aria-expanded='false')
                                span
                                    i.ti.ti-layout-dashboard
                                span.hide-menu Dashboard
                        li.nav-small-cap
                            i.ti.ti-dots.nav-small-cap-icon.fs-4
                            span.hide-menu Manager
                        li.sidebar-item
                            a.sidebar-link(href='/stech.manager/product' aria-expanded='false')
                                span
                                    i.ti.ti-article
                                span.hide-menu Product
                        li.sidebar-item
                            a.sidebar-link(href='/stech.manager/category' aria-expanded='false')
                                span
                                    i.ti.ti-category
                                span.hide-menu Category
                        li.sidebar-item
                            a.sidebar-link(href='/stech.manager/cart' aria-expanded='false')
                                span
                                    i.ti.ti-shopping-cart
                                span.hide-menu Cart
                        li.sidebar-item
                            a.sidebar-link(href='/stech.manager/chat' aria-expanded='false')
                                span
                                    i.ti.ti-message-chatbot
                                span.hide-menu Chat
                        li.sidebar-item
                            a.sidebar-link(href='/stech.manager/notification' aria-expanded='false')
                                span
                                    i.ti.ti-notification
                                span.hide-menu Notification
                        li.sidebar-item
                            a.sidebar-link(href='/stech.manager/customer' aria-expanded='false')
                                span
                                    i.ti.ti-cards
                                span.hide-menu Customer
                        li.sidebar-item
                            a.sidebar-link(href='/stech.manager/order' aria-expanded='false')
                                span
                                    i.ti.ti-file-description
                                span.hide-menu Order
                        li.sidebar-item
                            a.sidebar-link(href='/stech.manager/voucher' aria-expanded='false')
                                span
                                    i.ti.ti-file-description
                                span.hide-menu Voucher
                        li.sidebar-item
                            a.sidebar-link(href='/stech.manager/banner' aria-expanded='false')
                                span
                                    i.ti.ti-file-import
                                span.hide-menu Banner
                        li.nav-small-cap
                            i.ti.ti-dots.nav-small-cap-icon.fs-4
                            span.hide-menu AUTH
                        li.sidebar-item
                            a.sidebar-link(href='/stech.manager/type_login' aria-expanded='false')
                                span
                                    i.ti.ti-login
                                span.hide-menu Login
                        li.sidebar-item
                            a.sidebar-link(href='/stech.manager/add' aria-expanded='false')
                                span
                                    i.ti.ti-user-plus
                                span.hide-menu Add Admin
                // End Sidebar navigation
            // End Sidebar scroll
        // Sidebar End
        // Main wrapper
        .body-wrapper
            // Header Start
            header.app-header
                nav.navbar.navbar-expand-lg.navbar-light
                    ul.navbar-nav
                        li.nav-item.d-block.d-xl-none
                            a#headerCollapse.nav-link.sidebartoggler.nav-icon-hover(href='javascript:void(0)')
                                i.ti.ti-menu-2
                    #navbarNav.navbar-collapse.justify-content-end.px-0
                        ul.navbar-nav.flex-row.ms-auto.align-items-center.justify-content-end
                            a.btn.btn-outline-primary(data-bs-toggle='modal' id='openModalCreateVoucher') Create Voucher
                            li.nav-item.dropdown
                                a#drop2.nav-link.nav-icon-hover(href='javascript:void(0)' data-bs-toggle='dropdown' aria-expanded='false')
                                    img.rounded-circle(src='/images/logos/logo.jpeg' alt='' width='35' height='35')
                                .dropdown-menu.dropdown-menu-end.dropdown-menu-animate-up(aria-labelledby='drop2')
                                    .message-body
                                        a.d-flex.align-items-center.gap-2.dropdown-item(href='/stech.manager/profile')
                                            i.ti.ti-user.fs-6
                                            p.mb-0.fs-3 My Profile
                                        a.d-flex.align-items-center.gap-2.dropdown-item(href='')
                                            i.ti.ti-mail.fs-6
                                            p.mb-0.fs-3 My Account
                                        a.d-flex.align-items-center.gap-2.dropdown-item(href='javascript:void(0)')
                                            i.ti.ti-list-check.fs-6
                                            p.mb-0.fs-3 My Task
                                        a#logout.btn.btn-outline-primary.mx-3.mt-2.d-block(href='/stech.manager/login') Logout
            // Header End
            .container-fluid
                form#searchForm(action='javascript:void(0)', onsubmit='return false;')
                    .input-group.m-lg-auto
                        input#searchInput.form-control(type='text', name='query', placeholder='Enter your search query...' oninput='searchVoucher()')
                        button#searchButton.btn.btn-outline-secondary(type='button') Search
                .row
                    .col-md-6
                        .card.rounded-3.p-3.ps-5
                            h3 Voucher được sử dụng nhiều nhất
                            .card-body.p-2
                                h6.fw-semibold.fs-4 Name: #{mostVoucher.name}
                                h6.fw-semibold Date: #{mostVoucher.fromDate}  to  #{mostVoucher.toDate}
                                h6.fw-semibold Số lần sử dụng: #{mostCount}
                    .col-md-6
                        .card.rounded-3.p-3.ps-5
                            h3 Voucher được sử dụng ít nhất
                            .card-body.p-2
                                h6.fw-semibold.fs-4 Name: #{lessVoucher.name}
                                h6.fw-semibold Date: #{lessVoucher.fromDate}  to  #{lessVoucher.toDate}
                                h6.fw-semibold Số lần sử dụng: #{lessCount}
                .row
                    table.table.table-striped.align-middle.table-nowrap
                        thead
                            tr
                                th.text-center Name
                                th.text-start Content
                                th.text-center Price
                                th.text-center FromDate - ToDate
                                th.text-center Action
                        tbody
                            each voucher in vouchers
                                tr
                                    td(style='width: 300px;')
                                        div
                                            h5.font-size-15.text-center(style='font-size: 14px;')(data-info="name")
                                                a.text-dark(href='#')= voucher.name
                                    td(style='width: 550px;')
                                        div
                                            h5.font-size-18.text-start(style='font-size: 14px;')
                                                a.text-dark(href='#')= voucher.content
                                    td(style='width: 200px')
                                        div
                                            h5.text-center(style='font-size: 14px;')(data-info="price")
                                                a.text-dark(href='#')= voucher.price
                                    td(style='width: 500px')
                                        p.text-muted.mb-1.text-truncate.text-center
                                            i.mdi.mdi-circle-medium.align-middle.text-primary.me-1 From:
                                                =  voucher.fromDate
                                        p.text-muted.mb-1.text-truncate.text-center
                                            i.mdi.mdi-circle-medium.align-middle.text-primary.me-1 To:
                                                = voucher.toDate
                                    td
                                        .dropdown.text-center
                                            a.text-muted.dropdown-toggle.font-size-20(href='#', role='button', data-bs-toggle='dropdown', aria-haspopup='true')
                                                i.bx.text-center
                                            .dropdown-menu.dropdown-menu-end
                                                a.dropdown-item( class = "openModalUpdateVoucher" data-id = voucher._id data-title = voucher.name data-content = voucher.content data-price = voucher.price data-fromDate = voucher.fromDate data-toDate = voucher.toDate data-bs-toggle="modal") Sửa mã giảm giá
                                                //a.dropdown-item( class = "openModalDeleteVoucher" data-id = voucher._id data-bs-toggle="modal") Xóa mã giảm giá
                //- End Pagination
                .py-6.px-6.text-center
                    p.mb-0.fs-4
                        | Design and Developed by&nbsp;
                        a.pe-1.text-primary.text-decoration-underline(href='https://trinh-dien-203.onrender.com' target='_blank') STECH

            #DeleteVoucherModal.modal(tabindex='-1')
                .modal-dialog
                    .modal-content
                        .modal-header
                            h5.modal-title Xóa Voucher!
                        .modal-body
                            p.ms-4 Bạn có chắc chắn muốn xóa?
                            .modal-body
                                form(action="/stech.manager/deleteVoucher" method="post")
                                    .mb-3.d-none
                                        label.form-label(for='title') idvoucher
                                        input#idVoucherDelete.form-control(name='voucherId', type='text', aria-describedby='textHelp')
                                    button.btn.btn-dark(type='button' data-bs-dismiss='modal') Quay lại
                                    button.ms-3.btn.btn-danger(type='submit') Đồng ý
            #CreateVoucherModal.modal.fade
                .modal-dialog
                    .modal-content
                        .modal-header
                            h5.modal-title Tạo Mã Giảm Giá
                        .modal-body
                            form(action="/stech.manager/createVoucher" method="post")
                                .mb-3
                                    label.form-label(for='title') Name
                                    input#title.form-control(name='name',placeholder='Nhập Name Mã giảm giá', type='text', aria-describedby='textHelp', required)
                                .mb-3
                                    label.form-label(for='content') Content
                                    input#content.form-control(name='content',type='textarea', placeholder='Nhập Content Mã giảm giá', aria-describedby='textHelp', required)
                                .mb-3
                                    label.form-label(for='content') Price
                                    input#price.form-control(name='price',type='number', placeholder='Nhập Giá trị Mã giảm giá', aria-describedby='textHelp',required)
                                .form-group
                                    label.form-label(for="fromDate") From Date
                                    input#fromDate(name='fromDate',type="datetime-local", class="form-control", placeholder="", aria-describedby="helpId")
                                .form-group
                                    label.form-label(for="toDate") To Date
                                    input#toDate(name='toDate',type="datetime-local", class="form-control", placeholder="", aria-describedby="helpId")
                                button.mt-3.btn.btn-dark(type='button', data-bs-dismiss='modal') Hủy
                                button.mt-3.ms-2.btn.btn-outline-dark-light(type='submit') Save

            #UpdateVoucherModal.modal.fade
                .modal-dialog
                    .modal-content
                        .modal-header
                            h5.modal-title Cập nhật Mã giảm giá
                        .modal-body
                            form(action="/stech.manager/updateVoucher" method="post")
                                .mb-3.d-none
                                    label.form-label(for='title')
                                    input#idVoucherUpdate.form-control(name='voucherId', type='text', aria-describedby='textHelp', required)
                                .mb-3
                                    label.form-label(for='title') Name
                                    input#titleUp.form-control(name='name',placeholder='Nhập Name Mã giảm giá', type='text', aria-describedby='textHelp', required)
                                .mb-3
                                    label.form-label(for='content') Content
                                    input#contentUp.form-control(name='content',type='textarea', placeholder='Nhập Content Mã giảm giá', aria-describedby='textHelp', required)
                                .mb-3
                                    label.form-label(for='content') Price
                                    input#priceUp.form-control(name='price',type='number', placeholder='Nhập Giá trị Mã giảm giá', aria-describedby='textHelp',required)
                                .form-group
                                    label.form-label(for="fromDate") From Date
                                    input#fromDateUp(name='fromDate',type="datetime-local", class="form-control", placeholder="", aria-describedby="helpId")
                                .form-group
                                    label.form-label(for="toDate") To Date
                                    input#toDateUp(name='toDate',type="datetime-local", class="form-control", placeholder="", aria-describedby="helpId")
                                button.mt-3.btn.btn-dark(type='button', data-bs-dismiss='modal') Hủy
                                button.mt-3.ms-2.btn.btn-outline-dark-light(type='submit') Save

    script(src='/js/voucher.js')
    script.
        function searchVoucher() {
            const query = removeDiacritics(document.getElementById('searchInput').value.toLowerCase());
            const voucherRows = document.querySelectorAll('tbody tr');

            voucherRows.forEach(function (row) {
                const voucherName = removeDiacritics(row.querySelector('[data-info="name"]').innerText.toLowerCase());
                const voucherPrice = removeDiacritics(row.querySelector('[data-info="price"]').innerText.toLowerCase());

                // Check if either the name or price contains the query
                const isMatch = voucherName.includes(query) || voucherPrice.includes(query);

                // Display or hide the row based on the search result
                row.style.display = isMatch ? '' : 'none';
            });
        }

        function removeDiacritics(str) {
            return str.normalize("NFD").replace(/[\u0300-\u036f]/g, "");
        }